<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 class="text-center mb-5" style="font-size: 80px;">404</h1>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Foakridge.apsva.us%2Fpost%2Foakridge-online-resource-list%2Flight-bulb-clipart-gif-animation-664938-2709931%2F&psig=AOvVaw3VUxm3X-lfnsKQlUlNdrna&ust=1672973089757000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCOjJouWmr_wCFQAAAAAdAAAAABAE" alt="">
            <h3 class="mt-4">Page not found</h3>
            <h5>Look like you'r lost</h5>
            <p>Wea re sorry but the page you are looking does not found</p>
        </div>
    </div>
</div>
